name: toktik
description: "TokTik for your soul"
version: 1.0.0+1

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.2

  cupertino_icons: ^1.0.8
  video_player: ^2.9.2
  intl: ^0.20.1
  animate_do: ^3.3.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  
  flutter_lints: ^5.0.0


flutter:
  
  uses-material-design: true

assets:
  - assets/videos/
 